limit = 0

[keys]
up = ["up", "k"]
down = ["down", "j"]
jump_to_parent = ["J"]
jump_to_children = ["K"]
jump_to_working_copy = ["@"]
apply = ["enter"]
force_apply = ["alt+enter"]
cancel = ["esc"]
toggle_select = [" "]
new = ["n"]
commit = ["c"]
refresh = ["ctrl+r"]
abandon = ["a"]
diff = ["d"]
quit = ["q"]
help = ["?"]
describe = ["D"]
edit = ["e"]
force_edit = ["alt+e"]
diffedit = ["E"]
absorb = ["A"]
split = ["s"]
split_parallel = ["alt+s"]
undo = ["u"]
redo = ["U"]
revset = ["L"]
exec_jj = [":"]
exec_shell = ["$"]
ace_jump = ["f"]
quick_search = ["/"]
quick_search_cycle = ["'"]
custom_commands = ["x"]
leader = ["\\"]
suspend = ["ctrl+z"]
set_parents = ["M"]
[keys.rebase]
mode = ["r"]
revision = ["r"]
source = ["s"]
branch = ["B"]
after = ["a"]
before = ["b"]
onto = ["d"]
insert = ["i"]
skip_emptied = ["e"]
[keys.revert]
mode = ["R"]
after = ["a"]
before = ["b"]
onto = ["d"]
insert = ["i"]
[keys.duplicate]
mode = ["y"]
after = ["a"]
before = ["b"]
onto = ["d"]
[keys.squash]
mode = ["S"]
keep_emptied = ["e"]
use_destination_message = ["d"]
interactive = ["i"]
[keys.details]
mode = ["l"]
close = ["h"]
split = ["s"]
split_parallel = ["alt+s"]
squash = ["S"]
restore = ["r"]
absorb = ["A"]
diff = ["d", "l"]
select = ["m", " "]
revisions_changing_file = ["*"]
[keys.evolog]
mode = ["v"]
diff = ["d"]
restore = ["r"]
[keys.preview]
mode = ["p"]
toggle_bottom = ["P"]
scroll_up = ["ctrl+p"]
scroll_down = ["ctrl+n"]
half_page_down = ["ctrl+d"]
half_page_up = ["ctrl+u"]
expand = ["ctrl+h"]
shrink = ["ctrl+l"]
[keys.bookmark]
mode = ["b"]
set = ["B"]
delete = ["d"]
move = ["m"]
forget = ["f"]
track = ["t"]
untrack = ["u"]
[keys.inline_describe]
mode = ["enter"]
accept = ["alt+enter", "ctrl+s"]
editor = ["alt+e"]
[keys.git]
mode = ["g"]
push = ["p"]
fetch = ["f"]
[keys.oplog]
mode = ["o"]
restore = ["r"]
revert = ["R"]
[keys.file_search]
toggle = ["ctrl+t"]
up = ["up"]
down = ["down"]
accept = ["enter"]
edit = ["alt+e"]


[ui]
theme = ""
auto_refresh_interval = 0
[ui.tracer]
enabled = false
[ui.colors]
"text" = { fg = "#505050" }
"selected" = { bg = "#333333" }
"border" = { fg = "#3A3A3A" }
"preview" = { fg = "#F0E6D2" }

[suggest]
[suggest.exec]
mode = "off"

[revisions]
log_batching = true
log_batch_size = 50
template = '''
if(self.root(),
  separate(" ",
    change_id.shortest(8),
    label("root", "root()"),
    commit_id.shortest(8),
    bookmarks,
  ) ++ "\n",
  label(
    separate(" ",
      if(current_working_copy, "working_copy"),
      if(immutable, "immutable", "mutable"),
      if(conflict, "conflicted"),
    ),
    concat(
      separate(" ",
        coalesce(
          if(hidden, label("hidden", change_id.shortest(8))),
          if(divergent, label("divergent", change_id.shortest(8))),
          change_id.shortest(8)
        ),
        truncate_end(12, author.email()),
        author.timestamp().local().format("%y/%m/%d %H:%M"),
        bookmarks,
        tags,
        working_copies,
        commit_id.shortest(8),
        coalesce(
          if(hidden, label("hidden", "(hidden)")),
          if(divergent, label("divergent", "(divergent)")),
        ),
        if(conflict, label("conflict", "(conflict)")),
        if(config("ui.show-cryptographic-signatures").as_boolean(),
          if(signature, 
            label("signature status", 
              surround("[", "]", 
                label(signature.status(), 
                  coalesce(
                    if(signature.status() == "good", "✓︎"),
                    if(signature.status() == "unknown", "?"),
                    "x"
                  )
                )
              )
            )
          )
        ),
      ) ++ "\n",
      separate(" ",
        if(empty, label("empty", "(empty)")),
        if(description,
          description.first_line(),
          label(if(empty, "empty"), label("description placeholder", "(no description set)")),
        ),
      ) ++ "\n",
    ),
  )
)
'''
# revset = "present(@) | ancestors(immutable_heads().., 20) | present(trunk())"
revset = "present(@) | ancestors(bookmarks() | tracked_remote_bookmarks(), 5) | present(trunk())"

[preview]
revision_command = ["show", "--color", "always", "-r", "$change_id"]
oplog_command = ["op", "show", "$operation_id", "--color", "always"]
file_command = ["diff", "--color", "always", "-r", "$change_id", "$file"]
position = "bottom"
show_at_start = true
width_percentage = 60.0
width_increment_percentage = 5.0

[oplog]
limit = 200

[git]
default_remote = "origin"
